<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
		<title>{{title}} - PG SICoM</title>
	{% else %}
		<title>PG SICoM</title>
	{% endif %}
    <!-- Core CSS - Include with every page -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">	
	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">	

	<link href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">	
	
    <!-- Page-Level Plugin CSS - Dashboard -->
	<link href="{{ url_for('static', filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">	
	<link href="{{ url_for('static', filename='css/plugins/timeline/timeline.css') }}" rel="stylesheet">	

    <!-- SB Admin CSS - Include with every page -->
	<link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">	    

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				{% if title %}
					<a class="navbar-brand" href="{{request.script_root }}/index.html">{{title}} - PG SICoM</a>
				{%else%}
				<a class="navbar-brand" href="{{request.script_root }}/index.html">PG SICoM</a>
				{%endif%}
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
						{% with messages = get_flashed_messages(with_categories=true)  %}
							{% if messages %}
							<ul class=flashes>
								{% for category,message in messages %}
									<i class="fa fa-upload fa-fw"></i>{{category}} -{{ message }}								
								{% endfor %}
							</ul>
							{% endif %}
						{% endwith %}						
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
						{%if user %}
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> {{user}}'s Profile</a>
						{%else%}
						<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
						{%endif%}
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{request.script_root }}/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
					{% if local %}
                    <li>
                        <a href="{{request.script_root }}/local"><i class="fa fa-keyboard-o fa-fw"></i> Local</a>
                    </li>					
					{% endif %}
                    <li>
					<!-- http://fortawesome.github.io/Font-Awesome/icons/ -->
                        <!--<a href="{{request.script_root }}/index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>-->
						<a href="{{request.script_root }}/index.html"><i class="fa fa-map-marker fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <!--<a href="{{request.script_root }}/tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>-->
                    </li>
                    <li>
                        <a href="{{request.script_root }}/controllers.html"><i class="fa fa-dashboard fa-fw"></i> Controllers</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i><strike> Statistics</strike> </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-folder fa-fw"></i> <strike>Reporting</strike> </a>
                    </li>					
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> <strike>Settings</strike></a>
                    </li>					
					
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

		{% block content %}{% endblock %}

		
	</div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
	
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
	
    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
	{%if not datatable%}
    <script src="{{ url_for('static', filename='js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/morris/morris.js') }}"></script>	
    <script src="{{ url_for('static', filename='js/demo/dashboard-demo.js') }}"></script>
	{% else %}
    <script>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>			
	{%endif%}	    
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-50122917-1', 'pgsicom.herokuapp.com');
	  ga('send', 'pageview');

	</script>	
</body>

</html>
