<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/highstocks/highstock.js') }}"></script>
<script src="{{ url_for('static', filename='js/highstocks/modules/exporting.js') }}"></script>

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{stID}}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bar-chart-o fa-fw"></i> 
						<a href="{{request.script_root }}/controller/{{devID}}">{{devID}}</a>\{{stID}} Data List
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- Nav tabs -->
						<ul class="nav nav-pills">
							<li class="active"><a href="#home-pills" data-toggle="tab">Chart</a></li>
							<!--<li><a href="#datalist-pills" data-toggle="tab">Data List</a></li>-->
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="home-pills">
								<div id='container' style='width: 100%; height: 500px;'></div>
							</div>
							<div class="tab-pane fade" id="datalist-pills">
							 </div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->                    
			</div>
			</div>
			<!-- /.col-lg-8 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
<script type='text/javascript'>
$(function() {
	var seriesOptions = [],
		yAxisOptions = [],
		seriesCounter = 0,
		names = [{%for i in streamList%}'{{i.streamID}}',{%endfor%}],
		TZoffset = moment().zone()*60*1000;
		colors = Highcharts.getOptions().colors;
		
	$.each(names, function(i, name) {
		$.getJSON('get_data/00000000-00000000-00042DFF-FF051018/'+name, function(data) {
			for (var j=0; j< data.data.length; j++){
				data.data[j][0]-=TZoffset
			}						
			
			seriesOptions[i] = {
				name: name, //data.label,	//name,
				data: data.data,	//[0,0],
				visible:false
			};
			// As we're loading the data asynchronously, we don't know what order it will arrive. So
			// we keep a counter and create the chart when all the data is loaded.
			seriesCounter++;
			if (seriesCounter == names.length) {
				createChart();
			}
		});
	});

	// create the chart when all data is loaded
	function createChart() {
		$('#container').highcharts('StockChart', {	
            title: {
                text: 'PG Data View'
            },		
		    chart: {
				events: {
					load: function(chart) {
						this.setTitle(null, {
							text: 'Built chart in '+ (new Date() - start) +'ms'
						});
					}
				},
				zoomType: 'xy'
		    },
            rangeSelector: {
                selected: 1,
                inputDateFormat: '%Y-%m-%d',
                buttons: [
					{	type: 'day',
						count: 1,
						text: '1D'
					},{	type: 'week',
						count: 1,
						text: 'Wk'
					},{	type: 'month',
						count: 1,
						text: '1M'
					},{
						type:'all',
						count:1,
						text:'All'
					}],				
            },			
		    yAxis: {
		    	//labels: {formatter: function() {return (this.value > 0 ? '+' : '') + this.value + '%';}},
		    	plotLines: [{
		    		value: 0,
		    		width: 2,
		    		color: 'silver'
		    	}]
		    },
			legend:{
				enabled: true,
				layout: 'vertical',
				backgroundColor: '#FFFFFF',
				//floating: true,
				align: 'left',
				x: 0,
				verticalAlign: 'top',
				y: 70
			},

			series: seriesOptions,
			
		    plotOptions: {
				line:{
					events:{
						legendItemClick: function(){
						/*
							$.getJSON('get_data/00000000-00000000-00042DFF-FF051018/'+this.name, function(data) {
								for (var j=0; j< data.data.length; j++){
									data.data[j][0]-=TZoffset									
								}	
								series.data = data.data
							});
							*/
						}
				}
			} },
		    tooltip: {
		    },

		    
		});
	}
});	
</script>
{% endblock %}