<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Device Configuration  <a href="../{{dev_id}}"><i class="fa fa-level-up fa-fw"> </i></a></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Engine Control
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
								<div class="list-group">
								<form class="form" action="" method="post" name="charge_config">
										<a class="list-group-item"><button type="button" class="btn btn-success btn-block">Start</button></a>
										<a class="list-group-item"><button type="button" class="btn btn-info btn-block">Charge/Test</button></a>
										<a class="list-group-item"><button type="button" class="btn btn-danger btn-block">Stop</button></a>
										<a class="list-group-item"><input class="btn btn-warning btn-block" type="submit" value="TestButton" id="sendButton" name="submit"></a>
								</form>
								</div>						
                        </div>
                    </div>
                    <!-- /.panel -->                    
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Battery Charge
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<form class="form" action="" method="post" name="charge_config">
							{{form.hidden_tag()}}
							<div class="list-group">							
							
									<a class="list-group-item">
										<div class="form-group">
										<label>Daily Run Time</label>
										<!--<input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.5" data-slider-value="70"/>-->
										{{ form.item0(size = 20, class = "form-control", placeholder = "5 Hours",min=0, max=24) }}										
										<!--<span class="pull-right text-muted small"><em>Daily Run Time</em></span>-->
										</div>
									</a>							
									<a class="list-group-item">
										<div class="form-group">
										<label>%Depth of Discharge</label>
										<!--<b>Min</b><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.5" data-slider-value="70" data-slider-tooltip="hide"/><b>Max</b>-->
										{{ form.item1(size = 20, class = "form-control", placeholder = "80%", min=0, max=100) }}
										<!--<span class="pull-right text-muted small"><em>%Depth of Discharge</em></span>-->
										</div>
									</a>
							</div>
							<input class="btn btn-success btn-block" type="submit" value="Submit Battery Charge" id="sendConfig">
							</form>
                        </div>
                    </div>
                    <!-- /.panel -->                    
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Device Settings
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<form class="form" action="" method="post" name="charge_config">
							{{form.hidden_tag()}}
							<div class="list-group">							
							
									<a class="list-group-item">
										<div class="form-group"><label>Export Rate</label>
										{{ form.item0(size = 20, class = "form-control", placeholder = "360 seconds",min=0, max=60*60*24) }}										
										</div>
									</a>							
									<a class="list-group-item">
										<div class="form-group"><label>Store Rate</label>
										{{ form.item1(size = 20, class = "form-control", placeholder = "40 seconds", min=60, max=1000) }}
										</div>
									</a>
									<a class="list-group-item">
										<div class="form-group"><label>Sample Rate</label>
										{{ form.item1(size = 20, class = "form-control", placeholder = "4 seconds", min=3, max=1000) }}
										</div>
									</a>
									
							</div>
							<input class="btn btn-success btn-block" type="submit" value="Submit Device Settings" id="sendConfig">
							</form>
                        </div>
                    </div>
                    <!-- /.panel -->                    
                </div>
				
                <!-- /.col-lg-2 -->				
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

		
{% endblock %}