<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
	<script src="{{ url_for('static', filename='js/plugins/flot/excanvas.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
		

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{stID}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 
							<a href="{{request.script_root }}/controller/{{devID}}">{{devID}}</a>\{{stID}} Data List
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">Chart</a></li>
                                <li><a href="#datalist-pills" data-toggle="tab">Data List</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
								<div class="tab-pane fade in active" id="home-pills">
									<!--<div id='chart_div' style='width: 100%; height: 500px;'></div>-->
									<div class="flot-chart">
										<div class="flot-chart-content" id="flot-line-chart-multi"></div>
									</div>

								</div>
                                <div class="tab-pane fade" id="datalist-pills">
                                    <h4>Data Listing </h4>
									 
                                 </div>
							
						
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->                    
                </div>
				</div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Data Stream List
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
										<table class="table table-striped table-bordered table-hover" id="dataTables-example">                                        
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Value</th>                                                   
													<th>Y2</th>
													<!-- Units,Min,Max-->
                                                </tr>
                                            </thead>
                                            <tbody>
												{% for i in streamList %}
                                                <tr>
													<!--<td><a href="#" onClick="togglePlot({{loop.index-1}}); return false;">{{ i.streamID }}</a></td>-->
													<td><a href="#" onClick="fetchData({{loop.index-1}}); return false;">{{ i.streamID }}</a></td>
                                                    <td>{{i.datapoint}}</td>
													<td><input type="checkbox" name="yaxis" value="Enable"></td>
                                                </tr>
												{% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

									<input type = "number" id="yminval">
									<input type="button" value="Set Y Min" id="setymin">

									<input type = "number" id="ymaxval">
									<input type="button" value="Set Y Max" id="setymax">
									
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
						
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4  EVENT BLOCK -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		
		
<script type='text/javascript'>		
//Flot Multiple Axes Line Chart
$(document).ready(function() {
	thisPlot=null;

	var dataList = [
	//empty to start
	];

	//fetch first
	var alreadyFetched = {};
	
	fetchData = (function (seriesIdx) {
		$.ajax({url:'get_data/{{devID}}/'+seriesIdx,
			type: "GET",
			dataType: "json",
			data: {},
			success: function(series) {		
				
				//var firstcoordinate = "(" + series.data[0][0] + ", " + series.data[0][1] + ")";
				//button.siblings("span").text("Fetched " + series.label + ", first point: " + firstcoordinate);
				// Push the new data onto our existing data array
				
				if (!alreadyFetched[series.label]) {
					alreadyFetched[series.label] = true;
					dataList.push(series)
				}
			
				doPlot("right");
			}
			
		});				
	})
	
	setYMax = function(value)
	{
	  thisPlot.getOptions().yaxes[0].max = value;
	  thisPlot.setupGrid();
	  thisPlot.draw();
	}
	setYMin = function(value)
	{
	  thisPlot.getOptions().yaxes[0].min = value;
	  thisPlot.setupGrid();
	  thisPlot.draw();	  
	}	
	
	togglePlot = function(seriesIdx)
	{
	  var someData = thisPlot.getData();
	  //var value = document.getElementsByName("ymax").value;
	  //alert(value)
	  
	  someData[seriesIdx].lines.show = !someData[seriesIdx].lines.show;	  
	  
	  thisPlot.setData(someData);
	  /**/
	  max=0
	  for (var i=0; i< someData.length; i++){
			for (var j=0; j < someData[i].data.lenth; j++){
					if  (someData[i].data[j][1] > max){
						max = someData[i].data[j][1];
					 }
			}
	  }
	  thisPlot.setupGrid();
	  thisPlot.draw();
	}

	
    function doPlot(position) {
        thisPlot = $.plot($("#flot-line-chart-multi"), dataList, 
		{
			series: {
				lines: {show: true}},
		
            xaxes: [{
                mode: 'time'
            }],
			
            yaxes: [{
                //min: -2,
				//max:700
            }], 			
			/*{ //2nd y axis
                min: -2,
				max:14,
                // align if we are to the right
                alignTicksWithAxis: position == "right" ? 1 : null,
                position: position,
            }],*/
            legend: {
                position: 'nw'
				//labelFormatter: function(label, series){
				//return '<a href="#" onClick="togglePlot('+series.idx+'); return false;">'+label+'</a>';				}
				
            },
            grid: {
                hoverable: true //IMPORTANT! this is needed for tooltip to work
            },
            tooltip: true,
            tooltipOpts: {
                content: "%s for %x was %y",
                xDateFormat: "%y-%0m-%0d @ %H:%M:%S",
                onHover: function(flotItem, $tooltipEl) {
                    // console.log(flotItem, $tooltipEl);
                }
            }
        });
    }
    doPlot("right");

	$('#setymax').click(function() {
		  setYMax($('#ymaxval').val());
		});	
	$('#setymin').click(function() {
		  setYMin($('#yminval').val());
		});			
});

	</script>

{% endblock %}