<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sign In to PG Cloud</h3>
				</div>
				<div class="panel-body">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				{% endwith %}
					<form class="form" action="" method="post" name="login">
							{{form.hidden_tag()}}
						<fieldset>
							<div class="form-group">
								<!--<input class="form-control" placeholder="User Name" name="username" autofocus>-->
								
								{{ form.openid(size = 80, class = "form-control", placeholder = "User Name") }}
							</div>
							<div class="form-group">
								<!--<input class="form-control" placeholder="Password" name="password" type="password" value="">-->
								{{ form.password(size = 80, class = "form-control", placeholder = "Password") }}
							</div>
							<!--
								<label>								
									<p>{{form.remember_me}} Remember Me</p>
								</label>
							-->
							<!-- Change this to a button or input when using this as a form -->
							<!--<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
							<input class="btn btn-lg btn-success btn-block" type="submit" value="Sign In">

						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}